@media screen and (max-width: 730px) {
  .about .content {
    background-color: white !important;
  }

  .about .side {
    margin: 0 !important;
    float: left;
  }

  .about .second-side {
    display: block;
  }

  .about p {
    margin-inline: 0 !important;
    margin-bottom: 0px !important;
  }
  .about img {
    padding: 10px;
    margin-top: 46px;
  }
  .about .side-title {
    position: absolute;
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 600px) {
  .about .second-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about .first-side h2 {
    position: inherit;
    width: 100%;
  }

  .about .first-side img {
    padding: 0;
    margin: 0px;
  }

  .about .side {
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .about p {
    padding: 20px !important;
    text-align: center;
    margin-top: 0 !important;
  }
}

.about .content {
  max-width: 760px;
}
