:root {
  --purple: #5f51ff;
  --text-color: #323232;

  --title-size: 40px;
  --side-title-size: 36px;
  --sub-title-size: 32px;
  --rich-text-size: 24px;
  --text-size: 20px;
}

body {
  font-family: "Roboto";
  background-color: #f5f4f4;
}

.content {
  padding: 25px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .content {
    padding-block: 20px !important;
    padding-inline: 0 !important;
    margin: 18px;
  }
}

.title {
  text-align: center;
  color: var(--purple);
  font-size: var(--title-size);
  font-size: 40px;
  font-weight: 900;
}

.side-title {
  text-align: center;
  font-weight: bold;
  font-size: var(--side-title-size);
  text-align: center;
  color: var(--purple);
  margin-bottom: 10px;
}

.sub-title {
  text-align: center;
  font-weight: 500;
  color: var(--purple);
  font-size: var(--sub-title-size);
  text-align: center;
}

.text {
  font-size: var(--text-size);
  color: var(--text-color);
  font-weight: 300;
}

.rich-text {
  color: var(--text-color);
  font-size: var(--rich-text-size);
}

.join-asides .second-side {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.join-asides .second-side p {
  background-color: white;
  padding: 30px 30px 30px 50px;
  margin-left: -30px;
  margin-top: 46px;
}

.join-asides .first-side {
  z-index: 2;
}

.column {
  flex-direction: column;
}
